<div *ngFor="let data of newsData">
    <mat-card class="news-content" [style.background]="'url('+ data.urlToImage + ')'" [style.height.px]="150">
       <div class="news-list">Author: {{data.author}} </div>
       <div class="news-list">Title : {{data.title}}</div>
       <!-- <img mat-card-image  class="news-lis" src={{data.urlToImage}} style="width:500px;height:300px;"> -->
    </mat-card>
</div>