.news-content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 12px;
    width: auto;
    height: 200px;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}
.news-list{
    // padding: 12px;
    // margin: 8px;
    font-size: larger;
    color: #fffcf7;
    font-family: sans-serif;

}
